$maincolor: rgb(183, 48, 48);
$bluecolor: rgb(0, 0, 93);

$heightslider: 550px;
$widthslider: 400px;

// .btnShopSlide {
//     position: relative;
//     bottom: 174px;
//     padding: 15px;
//     font-size: 16px;
//     left: 50%;
//     -ms-transform: translate(-50%, 0);
//     transform: translate(-50%, 0);
//     font-size: 20px;
//     background-color: rgba(255, 255, 255, 0.898);
//     border: none;
//     border: 1px solid transparent;
//     border-radius: 10px;
// }
// .btnShopSlide:hover {
//     background-color: $maincolor;
//     border: 1px solid white;
//     color: white;
// }
