@import '../../global.scss';
.navbar {
    height: 70px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;

    .wrapper {
        width: 100%;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            // flex: 1;
            display: flex;
            .login-contain {
                display: flex;
                align-items: center;
                margin-right: 20px;
                .iconLogin {
                    margin-right: 10px;

                    .iconFace {
                        font-size: 35px;
                    }
                }
                .login {
                }
            }

            .location-contain {
                display: flex;
                align-items: center;
                .iconLocate {
                    margin-right: 10px;
                }
                .locations {
                }
            }

            .wm {
                // flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .menuItem {
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
        }

        .logo {
            .logo-bg {
                position: relative;
                height: 72px;
                width: 100px;
                background-color: $maincolor;
                clip-path: polygon(
                    50% 26%,
                    87% 25%,
                    100% 64%,
                    33% 81%,
                    0% 50%,
                    17% 18%
                );
            }
            h1 {
                color: white;
                position: absolute;
                top: 10px;
                margin-left: 15px;
                font-family: 'Urbanist', sans-serif !important;
            }
        }

        .searchCartWish {
            display: flex;
            align-items: center;

            .search-container {
                background-color: $maincolor;
                width: 270px;
                height: 42px;
                display: flex;
                align-items: center;
                border: 1px solid black;
                border-radius: 10px;

                input {
                    flex: 1;
                    padding: 0 10px;
                    outline: none;
                    border: none;
                    height: 40px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .btnSearch {
                    padding: 10px;
                    .iconSearch {
                        color: white;
                    }
                    :hover {
                        color: black;
                    }
                }
            }
            .wish-container {
                height: 100%;
                // width: 100px;
                color: $maincolor;
                margin: 0 15px;
                .heart {
                    font-size: 30px;
                    color: $maincolor;
                }
            }
            .cart-container {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .iconCart {
                    color: $maincolor;
                }
            }
        }
    }
}
.navbar.scrolling {
    top: -200px;
}
