@import "../../global.scss";
.favouritePart {
    width: 100%;
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/c837a6_6fccdab905194035a8f18daf66ef98db~mv2.jpg/v1/fill/w_1013,h_858,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_6fccdab905194035a8f18daf66ef98db~mv2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .wrapper {
        padding: 180px 70px;
        height: 100%;
        width: 100%;
        // background-color: pink;
        .top {
            padding-bottom: 50px;
            .text1 {
                font-size: 20px;
            }
            .text2header {
                font-size: 40px;
                font-weight: 500;
                color: $bluecolor;
                padding: 25px 0;
            }
            .text3para {
                display: flex;
                justify-content: space-between;
                .para {
                    max-width: 460px;
                }
                .btnShopLast {
                    padding: 12px;
                    font-size: 20px;
                    background-color: $maincolor;
                    align-self: flex-start;
                    border: none;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
        .bottom {
            height: 100%;
        }
    }
}
